# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# PyBuilder
target/

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# other
*.log
*.txt
.vscode
project.json

# Ren'Py specific
*.rpyc
*.rpyb
*.rpyc.bak
tl
saves
cache